<main>
  <div class="swiper-container">
    <h3>PRODUCTOS EN TIEMPO REAL</h3>
    <div class="swiper-wrapper" id="swiper">
      {{#each product}}
      <div class="swiper-slide">
        <img src={{this.thumbnail}}>
        <p class="sw-title">{{this.title}}</p>
        <p class="sw-price">Precio: $ {{this.price}}</p>
        <p class="sw-code">Código: {{this.code}}</p>
        <button onclick="deletePrd('{{this.code}}')">Eliminar</button>
      </div>
      {{/each}}
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <form id="formRTP" class="formRTP" onsubmit="addProductWS(event)">
    <div class="formcol">
      <div>
        <label for="frimage">Dirección Imagen</label>
        <input type="text" name="frimage" id="frimage" value="https://www.lg.com/ar/images/televisores/md06198536/gallery/DES_1_N.jpg">
      </div>
      <div>
        <label for="frtitle">Producto</label>
        <input type="text" name="frtitle" id="frtitle" value='TELEVISOR'>
      </div>
      

      <input class="frButton" type="submit" value="Cargar Producto" id="frButton">
    </div>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('productAdded', (newProduct) => {
     
      console.log('Nuevo producto agregado:', newProduct);
      
    });

    socket.on('productDeleted', (deletedProduct) => {
    
      console.log('Producto eliminado:', deletedProduct);
      
    });

    function deletePrd(productCode) {
      
      socket.emit('deleteProduct', productCode);
    }

    function addProductWS(event) {
      event.preventDefault();
      
      const newProduct = {
     
        image: document.getElementById('frimage').value,
        title: document.getElementById('frtitle').value,
        
      };
      socket.emit('addProduct', newProduct);
    }
  </script>
</main>
